#colorbg{
    background-color: aqua;
  }
#ccc{
      color:rgb(179, 53, 53);
      border: 2px solid black;
      padding: 25px;
      background-color: rgb(241, 205, 42);
      background-repeat: no-repeat;
      background-size: cover;
      height: 100%; 
  }
#aaa{
      
      height: 100%;
      font-weight: 200;
}
#fff{
      border-color: brown;
}
#table{
    border: 0px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    
}
#venchon{
    width: 300px;
}
.tab{float: left;}
.tab-2{margin-left: 50px}
.tab-2 input{display: block;margin-bottom: 10px}
.tab-2{background-color: white; border-style: solid;  border-color: rgb(97, 47, 29);}

.zzz{
    height: 100%;


}
body{
    height: 100%;
}
#icon1{
  border-radius: 50%;
}
